@model ReciGanhaMVC.Models.NewColetaViewModel


@{
  ViewBag.Title = "Inclusão de Coleta";
}




<main id="mainColeta">
  <article id="list-cards">
    @using (Html.BeginForm("Insert", "Coleta", FormMethod.Post))
    {
       <!--Configuração da mensagem Temporaria-->
      @if (@TempData["MensagemErro"] != null)
      {
        <div class="alert alert-danger" role="alert">
          @TempData["MensagemErro"]
        </div>
      }
      @if (@TempData["Mensagem"] != null)
      {
        <div class="alert alert-danger" role="alert">
          @TempData["Mensagem"]
        </div>
      }
      

      <!--<form action="POST">-->
      <section id="botao">
        <button type="submit" class="btnInserir btn btn-primary">Inserir coleta</button>
        @Html.TextBoxFor(model => model.EmailCliente, new { htmlAttributes = new { @class = "form-control" , @placeholder="Digite o email do cliente"} })
      </section>

      <section class="cards">
        <div class="card">
          <img href="https://en-br.ecolab.com/-/media/Ecolab/Ecolab-Home/Images/Solutions/NalcoWPS/550x310-blow-molding.jpg?h=310&iar=0&w=550&hash=1CC8E1FC83932001713195C007302B29" class="card-img-top " alt="garrafas de plastico">
          <div class="card-body">
            <h5 class="card-title text-dark">Plastico</h5>
            <select>
              <option value="1">
                Plastico
              </option>
            </select>
            <span>Insira o peso em Kg</span>
            <!--<input type="number" name="Peso" id="plastico">-->
            @Html.TextBoxFor(model => model.Plastico, new { htmlAttributes = new { @class = "form-control" } })
          </div>
        </div>

        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkpRb2UCBOqSK7b3nzT5MnyRZ7Z4ydv-UzAhaRcJ1n-1hejFlU" class="card-img-top " alt="latas de refrigerante">
          <div class="card-body">
            <h5 class="card-title text-dark">Metal</h5>
            <select>
              <option value="2">
                Metal
              </option>
            </select>
            <span>Insira o peso em Kg</span>
            @Html.TextBoxFor(model => model.Metal, new { htmlAttributes = new { @class = "form-control" } })
            <!--<input type="number" name="Peso" id="aluminio">-->
          </div>
        </div>

        <div class="card">
          <img href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRm__hkXq6_V-pGMYhzDHUrQgOC9JlRa-S0FxFufkJGPhTSfwOL "class="card-img-top " alt="papel">
          <div class="card-body">
            <h5 class="card-title text-dark">Papel</h5>
            <select>
              <option value="3">
                Papel
              </option>
            </select>
            <span>Insira o peso em Kg</span>
            @Html.TextBoxFor(model => model.Papel, new { htmlAttributes = new { @class = "form-control" } })
            <!--<input type="number" name="Peso" id="aluminio">-->
          </div>
        </div>

        <div class="card">
          <img href="https://deresiduos.s3.amazonaws.com/uploads/news/image/9075/large_2486209026_bceb057dbc_b.jpg" class="card-img-top " alt="caixa com vidro">
          <div class="card-body">
            <h5 class="card-title text-dark">vidro</h5>
            <select>
              <option value="4">
                Vidro
              </option>
            </select>
            <span>Insira o peso em Kg</span>
            @Html.TextBoxFor(model => model.Vidro, new { htmlAttributes = new { @class = "form-control vidro" } })
            <!--<input type="number" name="Peso" id="aluminio">-->
          </div>
        </div>

      </section>
      <!--</form>-->
    }



    <!--<div class="form-group">
                            <span>tipo:</span>
    @Html.TextBoxFor(model => model.TipMat, new {@type= "number", @class="form-control", @min = "0"})

                          </div>
                        <div class="form-group">
                            <span>Peso:</span>
    @Html.TextBoxFor(model => model.Pes, new {@type= "number", @class="form-control", @min = "0"})

                        </div>
                  </div>
                    </div>
                </div>
                      <div class="form-group">
                            <span>tipo:</span>
    @Html.TextBoxFor(model => model.TipMat , new {@type= "number", @class="form-control", @min = "0" })

                          </div>
                      <div class="form-group">
                              <span>Peso:</span>
    @Html.TextBoxFor(model => model.Pes, new {@type= "number", @class="form-control", @min = "0"}) -->




  </article>

</main>
