@model ReciGanhaMVC.Models.NewColetaViewModel


@{
  ViewBag.Title = "Inclusão de Coleta";
}




<main id="mainColeta">
  <article id="list-cards">
    @using (Html.BeginForm("Insert", "Coleta", FormMethod.Post, new{@class="form-coleta"}))
    {
       <!--Configuração da mensagem Temporaria-->
      @if (@TempData["MensagemErro"] != null)
      {
        <div class="alert alert-danger" role="alert">
          @TempData["MensagemErro"]
        </div>
      }
      @if (@TempData["Mensagem"] != null)
      {
        <div class="alert alert-danger" role="alert">
          @TempData["Mensagem"]
        </div>
      }
      

      <!--<form action="POST">-->
      <section id="botao">
        <button type="submit" class="btn btn-success btnInserir">Inserir coleta</button>
        @Html.TextBoxFor(model => model.EmailCliente, new { @class = "form-control input-coleta" , @placeholder="Digite o email do cliente"} )
      </section>

      <section class="cards-coleta">
        <div class="card card-material">
          <img href="assets/plastico.jpg" class="card-img-top " alt="garrafas de plastico">
          <div class="card-body">
            <h4 class="card-title text-dark">Plastico</h4>
            <span class="TextPesoColeta">Insira o peso em Kg</span>
            <!--<input type="number" name="Peso" id="plastico">-->
            @Html.TextBoxFor(model => model.Plastico, new  { @class = "form-control input-coleta" } )
          </div>
        </div>

        <div class="card card-material">
          <img src="assets/img/metal.jpg" class="card-img-top " alt="latas de refrigerante">
          <div class="card-body">
            <h4 class="card-title text-dark">Metal</h4>
            <span class="TextPesoColeta" >Insira o peso em Kg</span>
            @Html.TextBoxFor(model => model.Metal, new  {@class = "form-control input-coleta"  })
            <!--<input type="number" name="Peso" id="aluminio">-->
          </div>
        </div>

        <div class="card card-material">
          <img src="assets/img/papel.jpg" class="card-img-top " alt="papel">
          <div class="card-body">
            <h4 class="card-title text-dark">Papel</h4>
            <span class="TextPesoColeta">Insira o peso em Kg</span>
            @Html.TextBoxFor(model => model.Papel, new {@class = "form-control input-coleta" } )
            <!--<input type="number" name="Peso" id="aluminio">-->
          </div>
        </div>

        <div class="card card-material">
          <img src="assets/img/vidro.jpg" class="card-img-top " alt="caixa com vidro">
          <div class="card-body">
            <h4 class="card-title text-dark">Vidro</h4>
            <span class="TextPesoColeta">Insira o peso em Kg</span>
            @Html.TextBoxFor(model => model.Vidro, new { @class = "form-control input-coleta vidro" } )
            <!--<input type="number" name="Peso" id="aluminio">-->
          </div>
        </div>

      </section>
      <!--</form>-->
    }



    <!--<div class="form-group">
                            <span>tipo:</span>
    @Html.TextBoxFor(model => model.TipMat, new {@type= "number", @class="form-control", @min = "0"})

                          </div>
                        <div class="form-group">
                            <span>Peso:</span>
    @Html.TextBoxFor(model => model.Pes, new {@type= "number", @class="form-control", @min = "0"})

                        </div>
                  </div>
                    </div>
                </div>
                      <div class="form-group">
                            <span>tipo:</span>
    @Html.TextBoxFor(model => model.TipMat , new {@type= "number", @class="form-control", @min = "0" })

                          </div>
                      <div class="form-group">
                              <span>Peso:</span>
    @Html.TextBoxFor(model => model.Pes, new {@type= "number", @class="form-control", @min = "0"}) -->




  </article>

</main>
