@model ReciGanhaMVC.Models.PostoDeColetaViewModel;

@{
    ViewBag.Title = "AutenticarPostoDeColeta";
}
    <div class="limiter-2">
            <div class="container-login100-2">
                @if (@TempData["Mensagem"] != null)
                {
                    <div class="alert alert-succes" role="alert">
                    @TempData["Mensagem"]</div>
                }

                <!--Configuração para exibir mensagem de erro -->
                @if (@TempData["MensagemErro"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["MensagemErro"]
                    </div>
                }
                <div class="wrap-login100-2">

                    @using (Html.BeginForm("Autenticar", "PostoDeColeta",FormMethod.Post,  new {@class="login100-form-2 validate-form"} ))
                    {
                        @Html.AntiForgeryToken()
                        <span class="login100-form-title-2">
                           LOGIN
                        </span>
    
                        <div class="wrap-input100 validate-input">
                            @Html.TextBoxFor(model => model.CNPJ, new {@placeholder="CNPJ",@class="input100", @name ="CNPJ", @onkeypress="$(this).mask('00.000.000/0000-00')"} )
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>
    
                        <div class="wrap-input100 validate-input" data-validate = "Password is required">
                            @Html.PasswordFor(model => model.PasswordString, new{@placeholder="Senha", @class="input100"})
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
    
                        <div class="container-login100-form-btn-2">
                            <button class="login100-form-btn-2">
                                Logar
                            </button>
                        </div>
    
                        <div class="flex-col">
                            <span class="link-2" >
                                Não  possui uma conta?
                            </span>
    
                            <a asp-area="" asp-controller="PostoDeColeta" asp-action="IndexCadastroPosto" class="link-2">
                                Cadastre-se
                            </a>
                        </div>
                    }
                    
                </div>

