@model ReciGanhaMVC.Models.PostoDeColetaViewModel 

@{
    ViewBag.Title = "RegistrarPostoDeColeta";
}


<main id="viewRegistrarPosto">
    <div class="page-wrapper bg p-t-130 p-b-100 font-poppins">
        
@if (@TempData["Mensagem"] != null)
{
    <div class="alert alert-succes" role="alert">
    @TempData["Mensagem"]</div>
}

<!--Configuração da mensagem Temporaria-->
@if (@TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
    </div>
}
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title" id="font">Cadastro posto de coleta</h2>
                    @using (Html.BeginForm("Registrar", "PostoDeColeta",FormMethod.Post, new {@id="formRegistro"} ))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row row-space">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <label class="label" >Nome do Posto</label>
                                    @Html.TextBoxFor(model => model.NomePosto,new{@class="input--style-4"})
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <label class="label" >CNPJ</label>
                                    @Html.TextBoxFor(model => model.CNPJ,new{@class="input--style-4"})
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <label class="label" >Senha</label>
                                    @Html.PasswordFor(model => model.PasswordString, new {@class="input--style-4"})
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <label class="label" >Número</label>
                                    @Html.TextBoxFor(model => model.NumeroRua,new{@class="input--style-4"})
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <label class="label" >Rua</label>
                                     @Html.TextBoxFor(model => model.Rua, new {@class="input--style-4"})
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <label class="label" >Bairro</label>
                                    @Html.TextBoxFor(model => model.Bairro, new {@class="input--style-4"})
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <label class="label" >CEP</label>
                                    @Html.TextBoxFor(model => model.CEP, new {@class="input--style-4"})
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        <div>
                            <label for="Plastico" class="font">Plástico</label>
                               @Html.CheckBoxFor(model => model.SelecionadoPlastico, new {@id="Plastico", @name ="Plastico"} )
                        </div>

                            <div>
                                <label for="Metal" class="font">Metal</label>
                                @Html.CheckBoxFor(model => model.SelecionadoMetal ,  new {@id="Metal", @name ="Metal"} )
                            </div>

                            <div>
                                <label for="Papel" class="font">Papel</label>
                                @Html.CheckBoxFor(model => model.SelecionadoPapel ,  new {@id="Papel", @name ="Papel"} )
                            </div>

                            <div>
                                <label for="Vidro" class="font">Vidro</label>
                                @Html.CheckBoxFor(model => model.SelecionadoVidro ,  new {@id="Vidro", @name ="Vidro"} )
                            </div>
                        </div>
                        
                        <div class="p-t-15">
                            <button type="submit" value="Cadastrar" class="btn btn-success text-white rounded-pill" id="botaoDialog">Cadastrar</button>
                            <p>
                                <a class="font" asp-area="AutenticarPostoDeColeta" asp-controller="PostoDeColeta" asp-action="IndexAutenticarPosto">
                                Ja é cadastrado?Faça o login
                                </a>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
