@model ReciGanhaMVC.Models.ParceiroViewModel

@{
    ViewBag.Title = "ParceiroHome";
}

@if (@TempData["Mensagem"] != null)
{
    <div class="alert alert-succes" role="alert">
    @TempData["Mensagem"]</div>
}

<!--Configuração da mensagem Temporaria-->
@if (@TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div class="background container-fluid  d-flex flex-sm-wrap ">
    @if (@TempData["Mensagem"] != null)
        {
            <div class="alert alert-succes" role="alert">
            @TempData["Mensagem"]</div>
        }

        <img  alt="" class="imagemcentral" src="../assets/img/Parceiros.jpeg">

        <section class="darkgreenbox">
                <div class="divisao ">
                     <!--LOGO-->
                        <!--<div><img class="w-25" id="logo" src="wwwroot/assets/img/Logo.png" alt="Logo ReciGanha"></div> -->

                        <h1 class="bem-vindo " >Seja associado</h1>

                        <!--<p >Acreditamos em transformar o mundo em um lugar melhor e mais sustentável.
                            Mas mudar o mundo não é algo que se faça sozinho, não é mesmo?! Com tecnologias sociais e soluções personalizadas
                            para nossos parceiros com foco no desenvolvimento sustentável das comunidades e territórios, acreditamos que podemos
                            contribuir um pouco mais juntando nossas forças!

                        </p> -->
                </div>
                <div class="cadastro">
                   
                            <!--método que será chamado/ controller/tipo Post-->
                            @using(Html.BeginForm("Registrar", "Parceiro", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()<!--É um método que gera e insere no HTML gerado na view um código para evitar que se falsifique o envio de dados para o servidor.-->

                                <div class="form-group">
                                    <img  alt="" class="icon" src="">
                                    <label for="nome">Empresa</label>
                                    @Html.TextBoxFor(model => model.NomeParceiro, new { htmlAttributes = new { @class = "form-control", @name = "nome"} })
                                </div>

                                <div class="form-group">
                                    <img  alt="" class="icon" src="https://cdn-icons-png.flaticon.com/512/4213/4213922.png">
                                    <label for="EmailParceiro">email</label>  
                                    @Html.TextBoxFor(model => model.EmailParceiro, new { htmlAttributes= new{ @class = "form-control", @name = "EmailParceiro", @type="email"}})
                                    
                                </div>

                                <div class="form-group">
                                    <img  alt="" class="icon" src="">
                                    <label for="cnpj">CNPJ</label>  
                                    @Html.TextBoxFor(model => model.CnpjParceiro, new { htmlAttributes= new{ @class = "form-control", @name = "cnpj", @type="cnpj"}})
                                    
                                </div>

                                <div class="form-group">
                                    <img  alt="" class="icon" src="">
                                     <label for="senha">Senha</label>  
                                    @Html.TextBoxFor(model => model.PasswordString, new { htmlAttributes= new{ @class = "form-control", @name = "senha", @type="senha"}})
                                    
                                </div>

                                <div> 
                                    <button type="submit" value="Cadastrar" class="cadastrar btn text-white rounded-pill">Cadastrar</button>
                                </div> 
                            }
                </div>
        </section>

        <p >Acreditamos em transformar o mundo em um lugar melhor e mais sustentável.
                            Mas mudar o mundo não é algo que se faça sozinho, não é mesmo?! Com tecnologias sociais e soluções personalizadas
                            para nossos parceiros com foco no desenvolvimento sustentável das comunidades e territórios, acreditamos que podemos
                            contribuir um pouco mais juntando nossas forças!

                        </p>
                        
</div>
