@model IEnumerable<ReciGanhaMVC.Models.RecompensaViewModel>

@{
    ViewBag.Title = "Recompensas" ; 
}

<div class="background">

    <div class="container-fluid">
        @if (@TempData["Mensagem"] != null)
        {
            <div class="alert alert-succes" role="alert">
            @TempData["Mensagem"]</div>
        }

        <!--Configuração para exibir mensagem de erro -->
        @if (@TempData["MensagemErro"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["MensagemErro"]
            </div>
        }

<style>
    .table{
        margin-top: 15vh;
    }

    h2{
        margin-top: 5vh;
    }

    #mensagem-modal{
        color: black;
    }
</style>

<h2>recompensas</h2>

<button class="btn btn-primary" data-toggle="modal" data-target="#modal-mensagem" asp-controller="Recompensa" asp-action="Resgatar">
Exibir mensagem
</button>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.idRecompensa)</th>
        <th>@Html.DisplayNameFor(model => model.nomeRecompensa)</th>
        <th>@Html.DisplayNameFor(model => model.descricao)</th>
        <th>@Html.DisplayNameFor(model => model.custodePontos)</th>
        <th>@Html.DisplayNameFor(model => model.qtdeRecomepensas)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.idRecompensa)</td>
            <td>@Html.DisplayFor(modelItem => item.nomeRecompensa)</td>
            <td>@Html.DisplayFor(modelItem => item.descricao)</td>
            <td>@Html.DisplayFor(modelItem => item.custodePontos)</td>
            <td>@Html.DisplayFor(modelItem => item.qtdeRecomepensas)</td>
            <td>
               <button class="btn btn-primary" asp-controller="Recompensa" asp-action="Resgatar">
                Resgatar
                </button>
            </td>
        </tr>
    }
</table>
<!--
 @Html.ActionLink("Resgatar", "Resgatar","Recompensa", new{ htmlAttributes= new { @class = "btn btn-primary", @name="btn-mensagem-modal"}});-->

<!--<p>@TempData["CodigoRecompensa"]</p>-->

 <div class="modal" id="modal-mensagem" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Código</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                             @if (@TempData["CodigoRecompensa"] != null)
                            {
                                <p id="mensagem-modal">@TempData["CodigoRecompensa"]</p>
                            }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
            </div>

            