@model ReciGanhaMVC.Models.ClienteViewModel
@{
ViewBag.Title = "Autenticar" ; 
}
    <div class="limiter-2">
            <div class="container-login100-2">
                @if (@TempData["Mensagem"] != null)
                {
                    <div class="alert alert-succes" role="alert">
                    @TempData["Mensagem"]</div>
                }

                <!--Configuração para exibir mensagem de erro -->
                @if (@TempData["MensagemErro"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["MensagemErro"]
                    </div>
                }
                <div class="wrap-login100-2">

                    @using (Html.BeginForm("Autenticar", "Clientes", FormMethod.Post, new{@class="login100-form-2 validate-form"}))
                    {
                        @Html.AntiForgeryToken()
                        <span class="login100-form-title-2">
                            Log in
                        </span>
    
                        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                            @Html.TextBoxFor(model => model.EmailCliente, new{@placeholder="Email" , @class="input100"})
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>
    
                        <div class="wrap-input100 validate-input" data-validate = "Password is required">
                            @Html.PasswordFor(model => model.PasswordString, new{@placeholder="Senha", @class="input100"})
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
    
                        <div class="container-login100-form-btn-2">
                            <button class="login100-form-btn-2">
                                Logar
                            </button>
                        </div>
    
                        <div class="flex-col">
                            <span class="link-2" >
                                Não  possui uma conta?
                            </span>
    
                            <a asp-area="Cadastrar" asp-controller="Clientes" asp-action="IndexCadastro" class="link-2">
                                Cadastre-se
                            </a>
                        </div>
                    }
                    
                </div>
       
