<!-- Namespace da classe de Modelo-->
@model Reciganha_MVC.Models.ClienteViewModel


<!-- Erro not found-->


<!-- Titulo da view-->
@{
    ViewBag.Title = "Registrar";
}

<!--Configuração da mensagem Temporaria-->
@if (@TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<!--<div class="background">
    <div class="container-fluid">
        <section>

        </section>
    </div>
</div>-->



<div class="background">
    <div class="container">
        <div class="darkBox">
            <div class="row">
                <div class="col-6">
                    <div class="center">
                        <!--LOGO-->
                        <img id="logo" src="~/assets/img/Logo.png" alt="Logo ReciGanha">

                        <h1 id="bem-vindo">BEM-VINDO</h1>


                        <p id="contaExist" >Já possui uma conta?</p>
                        @{
                            <a class="nav-link" asp-area="" asp-controller="Clientes" asp-action="IndexLogin" ><button type="button" class="entrar btn text-white rounded-pill">Entrar</button></a>
                        }

                        
                    </div><!--FIM CENTER-->
                </div><!--FIM COLUNA-->

                <div class="col-6">
                    <div class="greenBox">
                        <div class="center">
                            <h1 id="h1">Crie sua conta</h1>
                            <h3 id="h3">Preencha seus dados</h3>
                            <!--método que será chamado/ controller/tipo Post-->
                            @using(Html.BeginForm("Registrar", "Clientes", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <img  alt="" class="icon" src="https://cdn-icons-png.flaticon.com/512/1828/1828439.png">
                                    <span>Nome:</span>
                                    <!--Campo TextBox -->
                                    @Html.EditorFor(model => model.NomeCliente, new { htmlAttributes = new { @class = "form-control", @name = "nome"} })
                                </div>

                                <div class="form-group">
                                    <img  alt="" class="icon" src="https://cdn-icons-png.flaticon.com/512/4213/4213922.png">
                                    <span>Email:</span>   
                                    @Html.EditorFor(model => model.EmailCliente, new { htmlAttributes= new{ @class = "form-control", @name = "email"}})
                                    
                                </div>

                                <div class="form-group">
                                    <img  alt="" class="icon" src="https://cdn-icons-png.flaticon.com/512/102/102643.png">
                                    <span> Senha: </span>
                                        @Html.PasswordFor(model => model.PasswordString, new {htmlAttributes = new {@class = "form-control", @name = "senha"}})
                                </div>
                                <div> 
                                    <input type="submit" value="Cadastrar" class="cadastrar btn text-white rounded-pill"/>
                                </div> 
                            }




                            <!--<form action="/Cliente/Autenticar" method="post">
                                <div class="form-group">
                                    <input type="text" id="nome" name="nome" value="Cliente.NomeCliente">
                                    <label for="nome">Nome:</label>
                                </div>
                            </form>

                            <div class="form-group">
                                <img class="icon" [src]="iconEmail" alt="">
                                <span>Email:</span>
                                <input type="text">
                            </div>

                            <div class="form-group">
                                <img class="icon" [src]="iconSenha" alt="">
                                <span>Senha:</span>
                                <input type="password">

                               Exemplo de Link (Texto, View, Controller) 
                                    Html.ActionLink("Retornar", "index", "Home", null, new {  class = "btn text-white rounded-pill" })
                            </div>-->

                        </div><!--FIM CENTER-->
                    </div><!--FIM GREENBOX-->
                </div><!--FIM COLUNA-->
            </div><!--FIM LINHA-->
        </div><!--FIM DARKBOX-->
        
    </div><!--FIM CONTAINER-->
</div><!--FIM BACKGROUND-->





