@model IEnumerable<ReciGanhaMVC.Models.ClienteColetaViewModel>

<!-- IEnumerable<ReciGanhaMVC.Models.ClienteColetaViewModel> -->

<!--ReciGanhaMVC.Models.ClienteViewModel-->
@{
    ViewBag.Title = "ClienteHome";
}


<!--Configuração da mensagem Temporaria-->


<main id="viewHomeCliente">
    <article id="acoesAmbiente">
        @if (@TempData["Mensagem"] != null)
        {
            <div class="alert alert-succes" role="alert">
                @TempData["Mensagem"]</div>
        }

        @if (@TempData["MensagemErro"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["MensagemErro"]
            </div>
        }

        <table>
            <thead style="background-color: #c3e4f4;"></thead>
                <tr>
                    <th>                    
                        @Html.Label("Id")
                    </th>
                    <th>
                        @Html.Label("Data Coleta")
                    </th>
                    <th>
                        @Html.Label("Resultado de Pontos")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.IdColeta)</td>
                        <td>@Convert.ToDateTime(item.dataColeta).ToString("dd/MM/yyyy")</td>
                        <td>@Html.DisplayFor(modelItem => item.resultadoDePontos)</td>
                    </tr>
               
                }
            </tbody>
        </table>

    </article>
</main>
