@model IEnumerable<ReciGanhaMVC.Models.ClienteColetaViewModel>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<!-- IEnumerable<ReciGanhaMVC.Models.ClienteColetaViewModel> -->

<!--ReciGanhaMVC.Models.ClienteViewModel-->
@{
    ViewBag.Title = "ClienteHome";
}


<style>
    .histcoletas{
        background-color: green;
    }

    .historico{
        text-align: center;
    }

    .pageClienet{
            padding-top: 9vh;
            height: 100%;
    }
</style>

<!--Configuração da mensagem Temporaria-->


<div class="content pageClienet">
    <div class="container">
        @if (@TempData["Mensagem"] != null)
        {
            <div class="alert alert-succes" role="alert">
                @TempData["Mensagem"]</div>
        }

        @if (@TempData["MensagemErro"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["MensagemErro"]
            </div>
        }

        

        <h2 class="historico">Histórico de coletas</h2>

        <div class="pts">
            <label class="pts1">Pontos: </label>
            <label class="pts1">@ViewBag.Message</label>
        </div>
        
            <table class="table table-striped histcoletas">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.IdColeta)</th>
                        <th>@Html.DisplayNameFor(model => model.dataColeta)</th>
                        <th>@Html.DisplayNameFor(model => model.resultadoDePontos)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.IdColeta)</td>
                            <td>@Convert.ToDateTime(item.dataColeta).ToString("dd/MM/yyyy")</td>
                            <td>@Html.DisplayFor(modelItem => item.resultadoDePontos) <i class='fas fa-money-bill-wave'></i></td>
            
                        </tr>
                        }
                </tbody>
            </table>
        </div>

        <div>
            <a asp-area="" asp-controller="Recompensa" asp-action="IndexRecompensa"><button type="button "
                    class="btn-resgate bg-secondary text-white rounded-pill ">Resgatar Recompensas</button></a>
        </div>
</main>
