@model IEnumerable<ReciGanhaMVC.Models.ClienteColetaViewModel>

<!-- IEnumerable<ReciGanhaMVC.Models.ClienteColetaViewModel> -->

    <!--ReciGanhaMVC.Models.ClienteViewModel-->
@{
    ViewBag.Title = "ClienteHome";
}


<!--Configuração da mensagem Temporaria-->


<main id="viewHomeCliente">
    <article id="acoesAmbiente">
        @if (@TempData["Mensagem"] != null)
        {
            <div class="alert alert-succes" role="alert">
            @TempData["Mensagem"]</div>
        }

        @if (@TempData["MensagemErro"] != null)
            {
            <div class="alert alert-danger" role="alert">
                @TempData["MensagemErro"]
            </div>
            }

        <table>
            <tr>             
                <td>
                    <section id="listagemColetas">
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.IdColeta)</td>
                                <td>@Html.DisplayFor(modelItem => item.dataColeta)</td>
                                <td>@Html.DisplayFor(modelItem => item.resultadoDePontos)</td>
                            </tr>
                        }
                    </section>
                </td>
            </tr>
        </table>
    </article>
</main>

