@model IEnumerable<ReciGanhaMVC.Models.ClienteColetaViewModel>

<!-- IEnumerable<ReciGanhaMVC.Models.ClienteColetaViewModel> -->

<!--ReciGanhaMVC.Models.ClienteViewModel-->
@{
    ViewBag.Title = "ClienteHome";
}


<!--Configuração da mensagem Temporaria-->


<main id="viewHomeCliente">
    <article id="acoesAmbiente">
        @if (@TempData["Mensagem"] != null)
        {
            <div class="alert alert-succes" role="alert">
                @TempData["Mensagem"]</div>
        }

        @if (@TempData["MensagemErro"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["MensagemErro"]
            </div>
        }

        <div>
            <a asp-area="" asp-controller="Recompensa" asp-action="IndexRecompensa"><button type="button " class="btn bg-secondary text-white rounded-pill ">Resgatar Recompensas</button></a>
        </div>

        <h2>historico de coletas</h2>
<table class="table" style="background-color: #c3e4f4;">
    <tr>
        <th>@Html.DisplayNameFor(model => model.IdColeta)</th>
        <th>@Html.DisplayNameFor(model => model.dataColeta)</th>
        <th>@Html.DisplayNameFor(model => model.resultadoDePontos)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.IdColeta)</td>
            <td>@Convert.ToDateTime(item.dataColeta).ToString("dd/MM/yyyy")</td>
            <td>@Html.DisplayFor(modelItem => item.resultadoDePontos)</td>

        </tr>
    }
</table>


    </article>
</main>
